<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBppIctV4f5p-irSva63zrxOx2N5SQiH6I</string>
	<key>GCM_SENDER_ID</key>
	<string>968517187398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vandadCourse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chris-van123</string>
	<key>STORAGE_BUCKET</key>
	<string>chris-van123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968517187398:ios:9cf4a13ac300933beb9747</string>
</dict>
</plist>